body {
  background: linear-gradient(to right, #f5af19, #f12711);
}
* {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 500px;
  border-radius: 20 !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
